<h1><%= @article.title %> </h1>
<h4><%= @article.body %></h4>

<%= link_to "<<Back To Articles List", articles_path %>
</br>
</br>
<h3>Comments(<%=@article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>